  <!DOCTYPE html>
  <html>
  <title>{{ station_name }} Departures</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-safety.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-food.css">
  <body bgcolor='black'>

  <style>
  div.compact {
    line-height: 20px;
  }
  h5 {
    margin: 0px;
    font-size:30px;
  }
  </style>


  <div class="w3-row-padding w3-black">
    <div class='w3-border-bottom w3-border-white'>
      <div class="w3-row">
        <h3 class="w3-container w3-center">{{ station_name }}</h3>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card-4">
      <h3>Platform 1</h3>

{% for northentry in northtext %}
    {{ northentry | safe }}
{% endfor %}
        
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card-4">
      <h3>Platform 2</h3>
        
{% for southentry in southtext %}
    {{ southentry | safe }}
{% endfor %}

		
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card-4">
      <h3>Platform 3</h3>
        
{% for platform3entry in platform3text %}
    {{ platform3entry | safe }}
{% endfor %}

		
      </div>
    </div>

  <div class="w3-container">
    <h6><a style="margin: 0 auto; display:block; text-align: center" href="https://dartdep.art">View all stations</a></h6>
    <h6 class="w3-center w3-text-gray">Last update: {{ clockstr }}</h6>
  </div>
  </div>
  
  </body>
  </html>